<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gcxy.security.mapper.sregulation.SregulationMapper">

    <select id="getAllSregulation" resultType="gcxy.security.bean.Sregulation">
    select * from sregulation;
</select>

    <select id="getSregulationByRegulationId" resultType="gcxy.security.bean.Sregulation" parameterType="int">
          select * from sregulation where regulation_id=#{regulationId};
    </select>

</mapper>