<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gcxy.security.mapper.checktable.ChecktableMapper">
    <insert id="insertRecord" parameterType="gcxy.security.bean.Checktable">
      insert into checktable (check_date,check_location,check_person,check_person_id,check_json,check_sign,file_location,sign_location,check_id,chapter_title,chapter_id,plan_id,signb_Location)
      values (#{checkDate},#{checkLocation},#{checkPerson},#{checkPersonId},#{checkJson},#{checkSign},#{fileLocation},#{signLocation},#{checkId},#{chapterTitle},#{chapterId},#{planId},#{signbLocation});
    </insert>
    <select id="getHistoryRecords" resultType="gcxy.security.bean.Checktable">
        select * from checktable where check_person_id=#{checkPersonId}
    </select>
    <select id="getAllCheckPersonId" resultType="String">
        select check_person_id from checktable
    </select>

    <select id="getHistoryRecordsByPlanId" resultType="gcxy.security.bean.Checktable">
        select * from checktable where plan_id=#{planId}
    </select>

    <update id="updateRecord" parameterType="gcxy.security.bean.Checktable">
        update checktable
        <trim prefix="set" suffixOverrides=",">
            <if test="checkDate!=null">check_date=#{checkDate},</if>
            <if test="checkLocation!=null">check_location=#{checkLocation},</if>
            <if test="checkPersonId!=null">check_person_id=#{checkPersonId},</if>
            <if test="checkJson!=null">check_json=#{checkJson},</if>
            <if test="checkSign!=null">check_sign=#{checkSign},</if>
            <if test="fileLocation!=null">file_location=#{fileLocation},</if>
            <if test="signLocation!=null">sign_location=#{signLocation},</if>
            <if test="signbLocation!=null">signb_location=#{signbLocation},</if>
            <if test="chapterTitle!=null">chapter_title=#{chapterTitle},</if>
            <if test="chapterId!=null">chapter_id=#{chapterId},</if>
            <if test="planId!=null">plan_id=#{planId},</if>
        </trim>
        where id=#{id}
    </update>

    <update id="updateRecordByPlanIdAndChapterId" parameterType="gcxy.security.bean.Checktable">
        update checktable
        <trim prefix="set" suffixOverrides=",">
            <if test="checkDate!=null">check_date=#{checkDate},</if>
            <if test="checkLocation!=null">check_location=#{checkLocation},</if>
            <if test="checkPersonId!=null">check_person_id=#{checkPersonId},</if>
            <if test="checkJson!=null">check_json=#{checkJson},</if>
            <if test="checkSign!=null">check_sign=#{checkSign},</if>
            <if test="fileLocation!=null">file_location=#{fileLocation},</if>
            <if test="signLocation!=null">sign_location=#{signLocation},</if>
            <if test="signbLocation!=null">signb_location=#{signbLocation},</if>
            <if test="chapterTitle!=null">chapter_title=#{chapterTitle},</if>
            <if test="chapterId!=null">chapter_id=#{chapterId},</if>
            <if test="planId!=null">plan_id=#{planId},</if>
        </trim>
        where plan_id=#{planId} and chapter_id=#{chapterId}
    </update>
</mapper>